# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
/temp/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Environment variables
.env
.env.local
.env.*.local
*.env

# Flutter/Dart/Pub common
**/doc/api/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/
app.*.symbols
app.*.map.json

# Android Studio artifacts
**/android/app/debug
**/android/app/profile
**/android/app/release

# Generated Flutter/Windows/macOS files
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/windows/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugins.*

# Node dependencies
**/node_modules/

# Component specifics: ari-server
/ari-server/dist
/ari-server/build
/ari-server/data/
/ari-server/logs/

# Submodules (Contents are ignored by their own .gitignores usually)
# But we can explicitly ignore their artifacts here if needed.
ari-framework/sample_control/pubspec.lock
ari-framework/sample_basic/pubspec.lock
ari-framework/plugin/pubspec.lock
